#fio{
    position: fixed;
    top: 6%;
    right: 10%;
    width: 70%;
    text-align: center;
    font-size: large;
    border: 2px solid gray;

}

#Trees{
    position: fixed;
    top: 9%;
}

li{
    display: table-cell;
    width: 100%;
}

.WoodType{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    width: 5%;
}

#FIO1{
    font-size: xx-large;
    font-weight: bold;
    position: fixed;
    top: 4%;
    left: 5%
}

.click{
    width: 25%;
    height: 40px;
}

#totalText{
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
}

#line{
    position: fixed;
    bottom: 14%;
    width: 100%;
}


#totalSpruce{
    position: fixed;
    bottom: 14.2%;
    left: 13%;
    display: none;
    font-size: x-large;
    font-weight: bold;
}

#totalBirch{
    display: none;
    position: fixed;
    bottom: 14.2%;
    left: 35%;
    font-size: x-large;
    font-weight: bold;
}

#totalAspen{
    display: none;
    font-size: x-large;
    font-weight: bold;
    position: fixed;
    bottom: 14.2%;
    left: 60%;
}

#totalPine{
    display: none;
    font-size: x-large;
    font-weight: bold;
    position: fixed;
    bottom: 14.2%;
    left: 85%;
}




.table{
    position: fixed;
    top: 14%;
    left: 40%;
    display: none;
}

.Diaveter{
    position: relative;
    top: 33px;
    right: 100%;
    font-size: x-large;
    font-weight: bold;

}

.input{
    position: relative;
    width: 228%;
    right: 80%;
    height: 33px;
    text-align: center;
    font-size: x-large;
    border: 2px solid gray;
}


